* {
    border: 1px solid red;
}

/* Margin may change*/
body {
    margin: 0 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 /*Header*/
.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

/*Content*/
.content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

#hero {
    display: flex;
    align-items: center;
    height: 200px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#quote {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.hero-text {
    flex: 1;
}

.hero-img {
    flex: 1;
}

.info-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    flex: none;
}

.info-text {
    flex: none;
}

.sign-up-banner {
    display: flex;
}

/*Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}